<div class="container" style="text-align: justify;">
    <h1> Sobre comic app</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, magnam quidem odio consectetur provident facilis, dolore corporis quod mollitia suscipit accusamus aliquid quibusdam voluptas ab doloribus nesciunt beatae ad. Facilis! Lorem ipsum
        dolor sit, amet consectetur adipisicing elit. Voluptates, nemo omnis? Id laudantium ipsam voluptate alias, doloribus repellendus inventore doloremque veniam quia blanditiis obcaecati dolorem earum repellat quo dicta dolore!</p>
</div>